<div class="row">
  <div class="mb-3 mt-3">
    <a routerLink="/criarDepto"routerLinkActive="active" class="btn btn-primary btn-sm">Cadastrar Departamento</a>
  </div>
  
  <div>
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depto of deptos">
          <td scope="row">{{depto.id}}</td>
          <td>{{depto.nome}}</td>
          <td>
            <div class="btn-group">
              <!-- construir a rota editarDepto/1, editarDepto/3, editarDepto/5 etc. Essa rota foi publicada no app-routing.module.ts. Não esquecer de colocar o routerLink entre []. Esse link vai direcionar para o componente editarDeptoComponent, que tbm foi definido no app-routing.module.ts-->

              <!-- em caso de dúvida, ver o link: https://stackoverflow.com/questions/47194495/how-to-pass-and-get-parameter-with-router-params-in-angular-4   -->

              <!-- <a [routerLink]="['/editarDepto', depto.id]"routerLinkActive="active" class="btn btn-warning">Detalhes</a> -->
              <a [routerLink]="['/editarDepto', depto.id]" class="btn btn-warning">Detalhes</a>
              <button class="btn btn-sm btn-danger" (click)="deletarDepto(depto.id)">Deletar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
