  <!-- <div class="row">
  
    <app-titulo [titulo]="(modo == 'post' ? 'Novo Departamento' : '')">
    </app-titulo>
 

    <div class="mt-2">
      <a routerLink="/listarDepto"routerLinkActive="active" class="btn btn-warning">voltar para lista</a>
    </div>


    <form [formGroup]="deptoForm" (submit)="deptoSubmit()">
    <form [formGroup]="deptoForm" (submit)="deptoNovo()" >
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-sm btn-success" (click)="salvarDepto(depto)" [disabled]="!deptoForm.valid">Enviar</button>
      </div>
    </form>
  </div>
 -->

 <div class = "container custom-container">
  <div class = "col-md-12">
    <h3 class = "mb-3 text-center">Criar Registro</h3>
    
    <div class = "form-group">
      <input type = "text" [(ngModel)] = "dadosRegistro.nome" placeholder = "Insira seu nome" class = "form-control" />
    </div>

    <!-- <div class = "form-group">
      <input type = "email" [(ngModel)] = "dadosRegistro.email" placeholder = "Insira seu email" class = "form-control" />
    </div>

    <div class = "form-group">
      <input type = "text" [(ngModel)] = "dadosRegistro.phone" placeholder = "Insira o número de telefone" class = "form-control"/>
    </div> -->

    <div class = "form-group">
      <button class = "btn btn-success btn-large btn-block" (click) = "inserirColaborador()"> Salvar Registro</button>
    </div>

  </div>
</div>