<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a routerLink="dashboard" class="navbar-brand"> Angular-Empresa </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="departamentos" routerLinkActive="active" class="nav-link">Departamentos</a>
        </li>
        <li class="nav-item">
          <a routerLink="funcionarios" routerLinkActive="active" class="nav-link">Funcionários</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
