<div class="row">

  <div class="col-sm-6" *ngIf="deptoSelecionado">
    <app-titulo [titulo]="(deptoSelecionado.id == 0 ? 'Novo Departamento' : 'Cód. Departamento: ' + deptoSelecionado.id)">
      <!-- Não esquecer de Colocar routerLink entre colchetes. A rota "/listarDepto" está definida no App-routing.module.ts -->
      <a [routerLink]="['/listarDepto']" class="btn btn-sm btn-warning">Lista de Depto</a>
    </app-titulo>

    <form [formGroup]="deptoForm" (submit)="deptoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <!-- inserido o atributo value para incluir a variável deptoSelecionado que está definida no TS. Deste modo o nome do Departamento é exibido na view  -->
        <input type="text" class="form-control" value="{{deptoSelecionado.nome}}">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-sm btn-success" (click)="salvarDepto(deptoSelecionado)">Enviar</button>
      </div>
    </form>
  </div>
</div>
