<div class="row">

  <div class="col-sm-6" *ngIf="funcSelecionado">
    <app-titulo [titulo]="(funcSelecionado.id == 0 ? 'Novo Funcionário' : 'Cód. Funcionário: ' + funcSelecionado.id)">
      <a [routerLink]="['/listarFunc']" class="btn btn-sm btn-warning">Lista de Funcionário</a>
    </app-titulo>
  
    <form [formGroup]="funcionarioForm" (submit)="funcSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <!-- inserido o atributo value para incluir a variável deptoSelecionado que está definida no TS. Deste modo o nome do Departamento é exibido na view  -->
        <input type="text" class="form-control" value="{{funcSelecionado.nomeFunc}}">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Data de Contratação</label>
        <input type="text"  class="form-control" value="{{funcSelecionado.dataContratacao}}">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Departamento</label>
        <input type="text" class="form-control" value="{{funcSelecionado.nomeDepto}}">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-sm btn-success" (click)="salvarFunc(funcSelecionado)">Enviar</button>
      </div>
    </form>
  </div>
  
