<div class="row">

  <div class="d-flex flex-row justify-content-end mt-3">
    <label for="">voltar</label>
   <a [routerLink]="['/listarFunc']" class="btn btn-sm btn-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
   </a>
  </div>
  <div class = "d-flex justify-content-center">
    <h4 class = "mt-4 mb-4">Novo Funcionário</h4>
  </div>
  <div class="col-sm-12 mt-3 ">
    <div class = "form-group col-sm-8 me-3">
      <label class="mb-2" for="">Nome Completo:</label>
      <input type = "text" [(ngModel)] = "dadosRegistro.nomeFunc" placeholder = "Insira o nome do funcionário" class = "form-control" />
    </div>
    <div class = "form-group col-sm-3 me-3">
      <label class="mt-2 mb-2" for="">Data da contratação:</label>
      <input type = "date" [(ngModel)] = "dadosRegistro.dataContratacao" class = "form-control" />
    </div>
    <div class="col-sm-12  d-flex mt-3">
      <div class = "form-group col-sm-5 me-3 ">
        <label for="">Nome do departamento:</label>
        <select class="form-control mt-2" [(ngModel)] = "dadosRegistro.nomeDepto">
          <option>--Select--</option>
          <option *ngFor="let depto of deptos" value = {{depto.nome}}>
            {{depto.nome}}
          </option>
        </select>
      </div>
      <div class="d-flex mt-3">
        <button class = "btn btn-sm btn-outline-dark mt-3" (click) = "cadastrarFunc()"><span class="me-2">Salvar</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </button> 
      </div>
    </div>
  </div>
</div>

