<div class="row">
  <app-titulo [titulo]="(modo == 'post' ? 'Novo Funcionário' : '')">
  </app-titulo>
  <div class="mt-2">
    <a routerLink="/listarFunc"routerLinkActive="active" class="btn btn-warning">voltar para lista</a>
  </div>
  
  <form [formGroup]="funcionarioForm" (submit)="funcNovo()">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" formControlName="nomeFunc" class="form-control">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Data de Contratação</label>
      <input type="text" formControlName="dataContratacao" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput2">Departamento</label>
      <input type="text" formControlName="nomeDepto" class="form-control">
    </div>
    <div class="form-group">
      <hr>
      <button class="btn btn-sm btn-success" (click)="salvarFunc(func)" [disabled]="!funcionarioForm.valid">Enviar</button>
    </div>
  </form>
</div>
  

